.row
  .col-xs-3.search-column
    .search-area.input-group
      %input.form-control#search{placeholder: 'Route No.'}
      %span.input-group-btn
        %btn.btn.btn-primary#search-btn Search
  .col-xs-6
    %h1#title Time of Day vs. Bus Punctuality
  .col-xs-3.clear-column
    %button.btn.btn-danger#clear-btn Clear

#chart
  %svg

:javascript
  Translink.init(#{@global.to_json.html_safe})
