.row
  .col-xs-2.search-column
    .search-area.input-group
      %input.form-control#search{placeholder: 'Route No.'}
      %span.input-group-btn
        %btn.btn.btn-primary#search-btn Search
  .col-xs-8
    %h1#title Time of Day vs. Bus Punctuality


#chart
  %svg

:javascript
  Translink.init(#{@global.to_json.html_safe})
