.search-column {
  height: 69px;
  padding-top: 20px;
}

.clear-column {
  height: 69px;
  padding-top: 20px;
  text-align: right;
}

#clear-btn {
  width: 100px;
}

#chart {
  height: 500px;
}

#search {
  width: 100px;
}

.search-area {
  display: block;
}

#title {
  text-align: center;
}
